---
BasedOnStyle: Microsoft
Language: Cpp
Standard: c++20

# includeファイルをソートするか
SortIncludes: Never
# インデント幅
IndentWidth: 4
# タブを使用するか
UseTab: Always
# タブの幅
TabWidth: 4
# 名前空間のインデント
NamespaceIndentation: All

# ブレース{}のスタイル
BreakBeforeBraces: Custom
BraceWrapping:
  AfterCaseLabel: true
  AfterClass: true
  AfterControlStatement: Always
  AfterEnum: true
  AfterFunction: true
  AfterNamespace: true
  AfterObjCDeclaration: true
  AfterStruct: true
  AfterUnion: true
  AfterExternBlock: true
  BeforeCatch: true
  BeforeElse: true
  BeforeLambdaBody: true
  BeforeWhile: true
  # ブレースをインデントするか
  IndentBraces: false
  SplitEmptyFunction: true
  SplitEmptyRecord: true
  SplitEmptyNamespace: true

# ポインタ・参照の配置
PointerAlignment: Left
ReferenceAlignment: Left

# 行の最大長(0の場合上限なし)
ColumnLimit: 120

# 改行設定
BinPackParameters: false
BinPackArguments: false

# 関数宣言・呼び出し時、一行に収まりきらない場合は複数行に並べるか
AllowAllArgumentsOnNextLine: false
AllowAllParametersOfDeclarationOnNextLine: false
AllowShortLambdasOnASingleLine: Empty
# 末尾のコメント行
AlignTrailingComments: true
# 変数への代入が連続した際に=で整列するか
AlignConsecutiveAssignments: true
# マクロの改行バックスラッシュの整列
AlignEscapedNewlines: LeftWithLastLine
# 開始括弧を置いた後の引数の並べ方
AlignAfterOpenBracket: BlockIndent
# 開始括弧の前にスペースを入れるか
SpaceBeforeParens: ControlStatements
# switch-caseのコロン前にスペースを入れるか
SpaceBeforeCaseColon: true
# コンストラクタ初期化子リスト
BreakConstructorInitializers: BeforeComma
ConstructorInitializerIndentWidth: 4
ContinuationIndentWidth: 4
